.c-btn {
  border: none;
  display: inline-block;
  font-size: $font-size-4;
  font-weight: 700;
  padding: 6px 65px;
  transition: all .25s ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &--red {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: darken($red, 5%);
    }
  }
}
