.c-photo-box {

  align-items: center;
  border-radius: $border-radius;
  display: flex;
  height: 204px;
  justify-content: center;
  position: relative;
  width: 375px;

  @include large-up {
    display: block;
    height: 958px;
    width: 557px;
  }

  &__image-lg {
    display: none;

    @include large-up {
      display: inherit;
      position: absolute;
      z-index: -1;
      }
  }

  &__image-sm {
    position: absolute;
    z-index: -1;

    @include large-up {
      display: none;
      }
  }

  &__text {
    color: $white;
    font-size: $font-size-2 * 1.5;

    @include large-up {
        left: 280px;
        top: $grid-base;
        position: absolute;
        text-align: right;
      }
    }

  &__text-description {
    display: none;

    @include large-up {
      color: $white;
      display: inherit;
      font-weight: bold;
      font-size: $font-size-3 * 1.2;
      height: 400px;
      margin-top: $grid-base * 6;
      left: 210px;
      position: absolute;
      text-align: right;
      top: 135px;
      width: 330px;

      &--version-two {
        left: 0px;
        top: 640px;
      }

      &--version-three {
        left: 220px;
        top: 640px;
      }
    }
  }
}
