*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #797979;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    font-size: 1rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 3.75rem; }

h2 {
  font-size: 2.5rem; }

a {
  color: #333333;
  text-decoration: none; }

input {
  border: none; }
  input::-webkit-input-placeholder {
    color: #d1d1d1;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px; }
  input:-moz-placeholder {
    color: #d1d1d1;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px; }
  input::-moz-placeholder {
    color: #d1d1d1;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px; }
  input:-ms-input-placeholder {
    color: #d1d1d1;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px; }

textarea {
  border: none; }
  textarea::-webkit-input-placeholder {
    color: #d1d1d1;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-left: 5px; }
  textarea:-moz-placeholder {
    color: #d1d1d1;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-left: 5px; }
  textarea::-moz-placeholder {
    color: #d1d1d1;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-left: 5px; }
  textarea:-ms-input-placeholder {
    color: #d1d1d1;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-left: 5px; }

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 800px) {
    .o-container {
      max-width: 740px; } }
  @media (min-width: 1200px) {
    .o-container {
      max-width: 1920px; } }

.o-row {
  display: flex;
  flex-flow: column wrap;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 800px) {
    .o-row {
      flex-direction: row; } }
  .o-row--center-y {
    align-items: center; }

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 800px) {
    .o-col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 800px) {
    .o-col--md33 {
      flex: 0 0 33.33%;
      max-width: 33.33%; } }
  @media (min-width: 800px) {
    .o-col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 800px) {
    .o-col--md75 {
      flex: 0 0 75%;
      max-width: 75%; } }
  @media (min-width: 1200px) {
    .o-col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .o-col--lg33 {
      flex: 0 0 33%;
      max-width: 33%; } }
  @media (min-width: 1200px) {
    .o-col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg75 {
      flex: 0 0 75%;
      max-width: 75%; } }

.c-btn {
  border: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 6px 65px;
  transition: all .25s ease-in-out; }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn--red {
    background-color: #D22E37;
    color: #fff; }
    .c-btn--red:hover {
      background-color: #be2931; }

.c-heading {
  color: #fff;
  line-height: 1.2;
  margin-bottom: 5px; }
  .c-heading--level1 {
    font-size: 2.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level1 {
        font-size: 3.75rem; } }
  .c-heading--level2 {
    font-size: 1.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level2 {
        font-size: 2.5rem; } }
  .c-heading--level3 {
    font-size: 1rem; }
  .c-heading--upper {
    text-transform: uppercase; }
  .c-heading--red {
    color: #D22E37; }
  .c-heading--big-spacing {
    letter-spacing: 0.2rem; }
  .c-heading--condensed-spacing {
    letter-spacing: -0.1rem; }

.c-nav {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f2f3f5;
  text-align: center;
  display: flex;
  flex-flow: column wrap; }
  @media (min-width: 1200px) {
    .c-nav {
      margin: 0;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      position: sticky;
      top: 0; } }
  .c-nav__item {
    color: #000;
    flex-direction: column;
    font-size: 1.125rem;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
    font-weight: bold; }
    .c-nav__item:hover {
      color: #000; }
    @media (min-width: 1200px) {
      .c-nav__item {
        width: auto;
        margin-right: 50px;
        font-size: 1.5rem; } }

.c-icon-box {
  display: flex;
  width: 340px;
  align-items: center;
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .c-icon-box {
      width: 530px; } }
  .c-icon-box__image {
    width: 40px;
    height: 40px;
    margin: 0 40px; }
  .c-icon-box__icon {
    align-self: center; }
  .c-icon-box__text {
    font-size: 1rem;
    margin: 0; }
    @media (min-width: 1200px) {
      .c-icon-box__text {
        font-size: 1.125rem; } }

.c-photo-box {
  align-items: center;
  border-radius: 13px;
  display: flex;
  height: 204px;
  justify-content: center;
  position: relative;
  width: 375px; }
  @media (min-width: 1200px) {
    .c-photo-box {
      display: block;
      height: 958px;
      width: 557px; } }
  .c-photo-box__image-lg {
    display: none; }
    @media (min-width: 1200px) {
      .c-photo-box__image-lg {
        display: inherit;
        position: absolute;
        z-index: -1; } }
  .c-photo-box__image-sm {
    position: absolute;
    z-index: -1; }
    @media (min-width: 1200px) {
      .c-photo-box__image-sm {
        display: none; } }
  .c-photo-box__text {
    color: #fff;
    font-size: 3.75rem; }
    @media (min-width: 1200px) {
      .c-photo-box__text {
        left: 280px;
        top: 10px;
        position: absolute;
        text-align: right; } }
  .c-photo-box__text-description {
    display: none; }
    @media (min-width: 1200px) {
      .c-photo-box__text-description {
        color: #fff;
        display: inherit;
        font-weight: bold;
        font-size: 1.8rem;
        height: 400px;
        margin-top: 60px;
        left: 210px;
        position: absolute;
        text-align: right;
        top: 135px;
        width: 330px; }
        .c-photo-box__text-description--version-two {
          left: 0px;
          top: 640px; }
        .c-photo-box__text-description--version-three {
          left: 220px;
          top: 640px; } }

.c-contact-form {
  display: none; }
  @media (min-width: 1200px) {
    .c-contact-form {
      display: flex;
      flex-direction: column;
      height: 470px;
      justify-content: space-between;
      width: 1400px; } }
  .c-contact-form .c-contact-form__header {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 30px; }
  .c-contact-form__fields {
    align-items: center;
    background-color: #f2f3f5;
    display: flex;
    flex-direction: column;
    height: 470px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 1040px; }
  .c-contact-form__email-field {
    border-bottom: 2px solid #D22E37;
    background-color: #fff;
    height: 40px;
    width: 1020px; }
  .c-contact-form__message-field {
    border-bottom: 2px solid #D22E37;
    background-color: #fff;
    height: 230px;
    width: 1020px; }
  .c-contact-form__button {
    height: 30px;
    width: 200px; }

.c-logo {
  width: 590px;
  height: 105px; }

.t-site-header {
  background: url("../images/background_small_wrestling_1.png") 0 0 no-repeat; }
  @media (min-width: 1200px) {
    .t-site-header {
      background: url("../images/background_big_wrestling_1.png") center no-repeat;
      height: 1000px;
      width: 100%; } }
  .t-site-header__top {
    display: none; }
    @media (min-width: 1200px) {
      .t-site-header__top {
        padding-top: 10px;
        display: block;
        padding-left: 100px; } }
