.o-row {
  display: flex;
  flex-flow: column wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;

  @include medium-up {
    flex-direction: row;
  }

  &--center-y {
    align-items: center;
  }
}
